ion-card-subtitle {
   --color: #7f22e9;
}
ion-content {
    --background:#fff87f;
}
ion-button{
    --background:#7f22e9;
}
ion-list-header, ion-item{
    --background:#fff87f;  
    font-size: x-large;
    --color:#7f22e9;
}
ion-list{
    padding-bottom: 0px;
    padding-top: 0px;
}