<app-header titulo = "nombre del pastel">  </app-header> 

<ion-content>

  <ion-grid fixed>

    <ion-row>
      <ion-col size="12" >

        <ion-card>
          <ion-img src="https://cdn2.cocinadelirante.com/sites/default/files/styles/gallerie/public/images/2016/05/pasteldechocolate.jpg"></ion-img>

          <ion-card-header>
           
            <ion-card-subtitle>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum impedit, eius iste fuga repellendus inventore! Provident nemo expedita deleniti ullam. Perspiciatis blanditiis amet ex harum consequuntur assumenda laudantium! Illo, mollitia?</ion-card-subtitle>
          </ion-card-header>
          
        </ion-card>
<br>
       
          <ion-button expand="block" routerLink="/new-recipe">Agregar Receta</ion-button>
     <br>
     <br>
          <ion-list>
              <ion-list-header>
                Recetas Existentes:
              </ion-list-header>
              <ion-item>
                <ion-label color="primary" routerLink="/recipe-name">Receta 1</ion-label>
              </ion-item>
              <ion-item>
                  <ion-label color="primary" routerLink="/recipe-name">Receta 2</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label color="primary" routerLink="/recipe-name">Receta 3</ion-label>
                  </ion-item>
              </ion-list>

      </ion-col>
    </ion-row>



  </ion-grid>

</ion-content>
