<app-header  *ngIf="pastel" titulo = "{{pastel.nombre}}|{{pastel.sabor}}">  

</app-header> 

<ion-content>

 
  <ion-grid fixed>

    <ion-row>
      <ion-col size="12">
        <ion-button style="float:right" (click)="recargar()" color="success"class="ion-minus-circled btn-danger">  <ion-icon name="refresh"></ion-icon></ion-button>
        <ion-button style="float:right" (click)="cambiar()" color="success"class="ion-minus-circled btn-danger">  <ion-icon name="sync"></ion-icon></ion-button>
    </ion-col>      
      <ion-col size="12" >

        <ion-card *ngIf="pastel">
          <ion-img src="http://erkapi.site/APIpastel/public{{pastel.image}}"></ion-img>

          <ion-card-header>
           
            <ion-card-subtitle>{{pastel.descripcion}}</ion-card-subtitle>
          </ion-card-header>
          
        </ion-card>
     <ion-list-header>
      Recetas Existentes:
    </ion-list-header>
    <div *ngIf="recetas">
          <ion-list  *ngFor="let receta of recetas;index as i">
            
              <ion-item>
                <ion-label color="primary" (click)="detalle(receta.id)">Receta {{i+1}}</ion-label>
                <ion-button color="danger" (click)="delete(receta.id)" class="ion-minus-circled btn-danger">x</ion-button>

              </ion-item>
              </ion-list>
    </div>
              <br>
              <br>
              <ion-button expand="block"  (click)="nueva()">Agregar Receta</ion-button>
            
      </ion-col>
    </ion-row>



  </ion-grid>

</ion-content>
