<app-header titulo = "Receta {{id}}">  </app-header> 

<ion-content>
  
    <ion-list-header>
        INGREDIENTES:
      </ion-list-header>
    <ion-list *ngFor="let ingrediente of ingredientes;">
            <ion-item>
                <ion-icon slot="start" name="arrow-dropright"></ion-icon>
                <ion-label color="primary">{{ingrediente.nombre}}</ion-label>
              </ion-item>
        </ion-list>
        <br>
        <br>
       
            <ion-card>
                <ion-card-header>

                  INSTRUCCIONES:
                </ion-card-header>
                 
                  <ion-card-subtitle>
                      {{procedimiento}}
                  </ion-card-subtitle>
                
                
              </ion-card>
              <br>
              <br>
              <ion-button  color="primary" (click)="nueva()">Nueva Receta</ion-button>

          
</ion-content>
