ion-content {
    --background:#fff87f;
}
ion-list-header{
    --background: #edb3bf;
    --color: #7f22e9;
    font-size: 1.8rem;
    
}
ion-item{
   
    --background:#fff87f;
    
}
ion-list {
    padding-bottom: 0px;
    padding-top: 0px;
}
ion-card-header {
    background: #edb3bf;
    font-size: x-large;
    --color:#7f22e9;

}
ion-button {
   margin-left: 15rem;
}