<app-header titulo = "nueva receta">  </app-header> 

<ion-content>
<ion-header>INGREDIENTES</ion-header>
<ion-list> 
  <ion-item>
      <ion-item>
          <ion-label>Ingredientes</ion-label>
          <ion-select interface="popover">
            <ion-select-option value="Fresa">Fresa</ion-select-option>
            <ion-select-option value="Harina">Harina</ion-select-option>
            <ion-select-option value="Huevo">Huevo</ion-select-option>
            <ion-select-option value="Vainilla">Vainilla</ion-select-option>           
            
          </ion-select>
        </ion-item>
        <ion-button name="checkmark-circle" >Agregar</ion-button>
  </ion-item>
</ion-list>

<ion-header>INSTRUCCIONES</ion-header>
<br>
<ion-item>
    <ion-textarea placeholder="Las instrucciones aqui ...." ></ion-textarea>
  </ion-item>

</ion-content>
