<app-header titulo = "lista de pasteles">  </app-header> 

<ion-content>
  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button color="light" routerLink="/new-cake">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" routerLink="/geolocal">
        <ion-icon name="map"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" routerLink="/noti">
        <ion-icon name="notifications"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-grid fixed>

    <ion-row>
      <ion-col size="6" size-lg="3" size-md="4" size-sm="6" 
              *ngFor="let pastel of pasteles">

        <ion-card (click)="detalle(pastel.id)">
          <ion-button style="float:right;height: 1%;width: 15%;" color="danger" (click)="delete(pastel.id)" class="ion-minus-circled btn-danger">x</ion-button>
       
          <ion-img src="http://erkapi.site/APIpastel/public{{pastel.image}}" >
             </ion-img>

          <ion-card-header >
           
            <ion-card-subtitle >{{pastel.nombre}}</ion-card-subtitle>
        
          </ion-card-header>
          
        </ion-card>


      </ion-col>
    </ion-row>
    <ion-button expand="block"  (click)="nueva()">Agregar nuevo pastel</ion-button>

  </ion-grid>
</ion-content>
